@import "variables.scss";
@import "page-transition.scss";
@import "animations.scss";
@import "home.scss";


@font-face {
	font-family: 'Cool-For-The-Momenet';
	src: url('../fonts/Cool-For-The-Momenet.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $light;
    color: $dark;
    font-family: 'Cool-For-The-Momenet';

    a {
        color: $dark;
        transition: color 250ms ease-in-out;
    }
}

body.dark {
    background: $dark;
    color: $light;

    a {
        color: $light;
    }
}
