@keyframes animte-mein-foto {
  0%, 100% {
    border-radius: 68% 32% 64% 36% / 42% 62% 38% 58%;
  }

  25% {
    border-radius: 50% 50% 25% 75% / 59% 45% 55% 41%;
  }

  50% {
    border-radius: 50% 50% 46% 54% / 59% 45% 55% 41%;
  }

  75% {
    border-radius: 58% 42% 55% 45% / 52% 55% 45% 48%;
  }
}

// loader
@keyframes loader1 {
  0% { 
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}