.home-container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 5%;
  left: 0px;

  .center {
    display: flex;
    flex-direction: column;
    max-width: 435px;

    .head {
      display: flex;
      flex-direction: column;
      width: 100%;

      .name {
        display: flex;
        align-items: center;
        width: 100%;

        h1, h4 {
          left: 0px;
          font-weight: 300;
          overflow: hidden;

          span {
            display: inline-block;

            .heart-emoji {
              color: #c5c52a
            }
          }
        }

        .mein-foto {
          min-width: 100px;
          min-height: 100px;
          max-width: 100px;
          max-height: 100px;
          margin-left: 20px;
          overflow: hidden;
          border-radius: 68% 32% 64% 36% / 42% 62% 38% 58%;
          box-shadow: 0px 0px 5px -2px $dark;
          animation: animte-mein-foto 5000ms linear 0ms infinite forwards running;

          img {
            width: 100%;
            height: 100%;
          }
        }

      }
    }

    .about, .contact {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 35px;
      line-height: 1.6;

      h2 {
        font-weight: 300;
        margin-bottom: 5px;
      }

      .title, .content {
        overflow: hidden;

        span {
          display: inline-block;
          
          .waving-emoji {
            color: $primary
          }
        }
      }
    }

    .contact {
      .links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;

        a  {
          opacity: 0;
          transform: translate(0, 30px)
        }
      }
    }
  }
}

@media (max-width: $breakpoint) {

  .home-container {
    margin-top: 35px;
    padding-bottom: 35px;

    .center {
      .contact {
        .links {
          margin-top: 15px;
          flex-direction: column;
        }
      } 
    }
  }

}