.home-container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 5%;
  left: 0px;

  .center {
    display: flex;
    flex-direction: column;
    max-width: 435px;

    .head {
      display: flex;
      flex-direction: column;
      width: 100%;

      .mouse-btn {
        width: 23px;
        border: none;
        background: none;
        outline: none;
        margin-top: 15px;

        .mouse {
          height: 35px;
          width: 23px;
          border: 2px solid $light;
          border-radius: 15px;
          position: relative;
          overflow: hidden;
          transform: scale(0.7);
    
          .wheel {
            height: 10px;
            width: 2px;
            background: $light;
            display: block;
            position: absolute;
            left: calc( 50% - 1px);
            animation: move-mouse 1000ms ease infinite running;
          }
        }

        .scroll {
          font-family: 'Link-Font';
          color: $light;
          font-size: 11px;
          position: absolute;
          left: -6px;
          font-weight: 700;
        }
      }

      .name {
        display: flex;
        align-items: center;
        width: 100%;

        .title {
          font-family: "Marvin Visions";
          margin-bottom: 5px;

          span {
            letter-spacing: 1.5px;
          }
        }

        h1, p {
          span {
            display: inline-block;
            font-weight: 400;
            .heart-emoji {
              color: #c5c52a
            }
          }
        }

        .mein-foto {
          min-width: 100px;
          min-height: 100px;
          max-width: 100px;
          max-height: 100px;
          margin-left: 20px;
          overflow: hidden;
          border-radius: 68% 32% 64% 36% / 42% 62% 38% 58%;
          box-shadow: 0px 0px 5px -2px $dark;
          animation: animte-mein-foto 5000ms linear 0ms infinite forwards running;

          img {
            width: 100%;
            height: 100%;
          }
        }

      }
    }

    .about, .contact {
      display: flex;
      flex-direction: column;
      width: 100%;
      line-height: 1.6;

      .title {
        font-family: "Marvin Visions";
        letter-spacing: 1.5;
        font-size: 55px;
        font-weight: 300;
      }

      .title, .content {
        overflow: hidden;

        span {
          display: inline-block;
          
          .waving-emoji {
            color: $primary;
          }
        }
      }
    }

    .about {
      a {
        margin-right: 0;
      }
    }

    .contact {
      .content {
        margin-bottom: 20px;
      }
    }
    .contact {
      .links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: $breakpoint) {
  .home-container {
    padding-bottom: 35px;

    .center {
      .contact {
        .links {
          margin-top: 15px;
          flex-direction: column;
        }
      } 
    }
  }
}