@import "variables.scss";
@import "page-transition.scss";
@import "animations.scss";
@import "preloader.scss";
@import "home.scss";
@import "portfolio.scss";
@import "cursor.scss";

@font-face {
	font-family: 'Link-Font';
	src: url('../fonts/Link-Font.ttf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@font-face {
    font-family: "Marvin Visions";
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1147877/MarvinVisionsGX-subset.woff2)
      format("woff2");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $light;
    color: $dark;
    font-family: 'Roboto';

    a {
        display: inline-block;
        font-family: 'Link-Font';
        margin-right: 10px;
        font-weight: 700;
        font-size: 13px;
        color: #212121;
        text-decoration: none;
        cursor: none;
        background-image: linear-gradient(180deg, transparent 0, transparent 18px, #119955 0, #119955);
        opacity: .9;
        background-size: 100% 200%;
        transition: all 200ms ease;
        background-position: 0 0;
        padding: 0px 2px;
        margin-bottom: 3px;
        
        &:hover {
            opacity: 1;
            background-position: 0 100%;
        }
    }
}

body.dark {
    background: $dark;
    color: $light;

    a {
        color: $light;
    }
}

.javascript {
    background: $javascript;
    box-shadow: 0 0 8px -2px $javascript;
}

.css {
    background: $css;
    box-shadow: 0 0 8px -2px $css;
}

.typescript {
    background: $typescript;
    box-shadow: 0 0 8px -2px $typescript;
}

.socketio {
    background: $socket;
    box-shadow: 0 0 8px -2px $socket;
}

.express {
    background: $express;
    box-shadow: 0 0 8px -2px $express;
}

.node {
    background: $node;
    box-shadow: 0 0 8px -2px $node;
}

.react {
    background: $react;
    box-shadow: 0 0 8px -2px $react;
}

.scss {
    background: $scss;
    box-shadow: 0 0 8px -2px $scss;
}

.mongodb {
    background: $mongo;
    box-shadow: 0 0 8px -2px $mongo;
}

.deno {
    background: $deno;
    box-shadow: 0 0 8px -2px $deno;
}

.sqlite3 {
    background: $sqlite;
    box-shadow: 0 0 8px -2px $sqlite;
}

.mysql {
    background: $mysql;
    box-shadow: 0 0 8px -2px $mysql;
}

.java {
    background: $java;
    box-shadow: 0 0 8px -2px $java;
}

.springboot {
    background: $spring;
    box-shadow: 0 0 8px -2px $spring;
}

.thymeleaf {
    background: $thymeleaf;
    box-shadow: 0 0 8px -2px $thymeleaf;
}

.jquery {
    background: $jquery;
    box-shadow: 0 0 8px -2px $jquery;
}

.materialize {
    background: $material;
    box-shadow: 0 0 8px -2px $material;
}

.html {
    background: $html;
    box-shadow: 0 0 8px -2px $html;
}