@import "variables.scss";
@import "page-transition.scss";
@import "animations.scss";
@import "preloader.scss";
@import "home.scss";
@import "cursor.scss";

@font-face {
	font-family: 'Cool-For-The-Momenet';
	src: url('../fonts/Cool-For-The-Momenet.ttf') format('opentype');
}

@font-face {
	font-family: 'Link-Font';
	src: url('../fonts/Link-Font.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $light;
    color: $dark;
    font-family: 'Cool-For-The-Momenet';

    a {
        display: inline-block;
        font-family: 'Link-Font';
        margin-right: 10px;
        font-weight: 700;
        font-size: 13px;
        color: #212121;
        text-decoration: none;
        cursor: none;
        background-image: linear-gradient(180deg, transparent 0, transparent 18px, #119955 0, #119955);
        opacity: .9;
        background-size: 100% 200%;
        transition: all 200ms ease;
        background-position: 0 0;
        padding: 0px 2px;
        margin-bottom: 3px;
        
        &:hover {
            opacity: 1;
            background-position: 0 100%;
        }
    }

    
}

body.dark {
    background: $dark;
    color: $light;

    a {
        color: $light;
    }
}
