.portfolio-container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 5%;
  left: 0px;
  
  .center {
    display: flex;
    flex-direction: column;
    max-width: 435px;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 25px;
      }
      
      .title {
        font-family: "Marvin Visions";
        font-size: 74px;
        letter-spacing: 1.5px;
      }

      .mouse-btn {
        width: 23px;
        border: none;
        background: none;
        outline: none;
        margin-top: 15px;

        .mouse {
          height: 35px;
          width: 23px;
          border: 2px solid $light;
          border-radius: 15px;
          position: relative;
          overflow: hidden;
    
          span {
            height: 12px;
            width: 2px;
            background: $light;
            display: block;
            position: absolute;
            left: calc( 50% - 1px);
            animation: move-mouse 1000ms ease infinite running;
          }
        }
      }
        
    }

    .separator {
      .title {
        font-family: "Marvin Visions";
        font-size: 44px;
        letter-spacing: 1.5px;
        text-align: center;
      }
    }

    .infos {
      .title {
        font-family: "Marvin Visions";
        font-size: 34px;
        letter-spacing: 1.5px;
      }

      .description {
        margin: 20px 0;
        line-height: 1.35
      }

      .tags {
        margin-top: 15px;
        
        .tag {
          font-family: 'Link-Font';
          font-weight: 700;
          color: #121212;
          padding: 4px 6px;
          font-size: 10px;
          margin: 0 4px;
          border-radius: 15px;
        }
      }
    }
  }

  a {
    background-image: linear-gradient(180deg, transparent 0, transparent 16px, #119955 0, #119955);
    line-height: 1.3;
    padding: 1px 2px;
  }
}