.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .logo-container {
    display: block;
    width: 150px;
    height: 150px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
  .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #777777;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 8px;
        animation: loader1 0.6s infinite;
      }
      
      &:nth-child(2) {
        left: 8px;
        animation: loader2 0.6s infinite;
      }
      
      &:nth-child(3) {
        left: 32px;
        animation: loader2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 56px;
        animation: loader3 0.6s infinite;
      }
    }
  }
}