$black: #000000;
$white: #ffffff;
$dark: #121212;
$light: #f1f2f3;
$primary: #119955;
$breakpoint: 350px;

$javascript: #f1e05a;
$css: #563d7c;
$typescript: #2b7489;
$socket: #555555; 
$express: #aeaeae;
$node: #43853d;
$react: #61dafb;
$scss: #bf4080;
$mongo: #13aa52;
$deno: #161e2e;
$sqlite: #044a64;
$mysql: #2b5d80;
$java: #b07219;
$spring: #6bb536;
$thymeleaf: #005f0f;
$jquery: #0969af;
$material: #ee6e73;
$html: #e34c26;