
p{
    color: #ddd;
}




h1{
    color: #0C8353;
    background: linear-gradient( 45deg, #0C8353, #0C8353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes background-color {

    0%,
    100%,
    85% {
        background-color: #EFD9D3
    }

    5%,
    80% {
        background-color: #C8DEF8
    }

    10%,
    70% {
        background-color: #F5CFD7
    }

    15%,
    65% {
        background-color: #DCF4F4
    }

    20%,
    60% {
        background-color: #DDE5F0
    }

    25% {
        background-color: #C7DDF8
    }

    30%,
    50%,
    55%,
    95% {
        background-color: #EDF6E5
    }

    35%,
    45% {
        background-color: #F4CFD7
    }

    40% {
        background-color: #F0DDD4
    }

    75% {
        background-color: #CBD3FA
    }

    90% {
        background-color: #F3CFD6
    }
}

.header_container .animations::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(29, 27, 59, 0.9);
}

.main_container .nav_bar {
    background-color: rgb(29, 27, 59);
}

.main_container .nav_bar .menu_btn {
    background-color: rgba(47, 47, 47, .2);
    box-shadow: 1px 0 2px rgba(5, 5, 5, .5);
}

.main_container .menu_btn .btn {
    color: rgba(252, 252, 252, .5);
}

.main_container .menu_btn .btn:after {
    background: rgba(211, 211, 211, 0.85);
}

.main_container .nav_bar .menu_list ul li.title {
    color: #ddd;
}

.main_container .nav_bar .menu_list ul li .arrow {
    color: #ddd;
}

.main_container .nav_bar .menu_list ul li div {
    color: #ddd;
}

.main_container .nav_bar .menu_list ul li div a {
    color: rgba(223, 223, 223, 0.85);
}

.main_container .nav_bar .menu_list ul li div .dashed {
    border-bottom: 1px dashed #ddd;
}



.header_container .head .logo a {
    color: #ddd;
}

.header_container .head .socails ul li svg {
    fill: #ddd;
}

.header_container .head .socails ul li a:hover svg.facebook {
    fill: #3B579D
}

.header_container .head .socails ul li a:hover svg.twitter {
    fill: #2CAAE1
}

.header_container .head .socails ul li a:hover svg.linkedin {
    fill: #0274B3
}

.header_container .head .socails ul li a:hover svg.github {
    fill: #323131
}

.header_container .head .socails ul li a:hover svg.gmail {
    fill: #D54B3D
}


.slogo span {
    color: #ddd;
}

.slogo span::selection{
    background-color: transparent
}

.slogo span.console {
    color: #00C8A6;
}

.slogo span.log {
    color: #96000E;
}

.slogo span.symbol {
    color: #8B6E60;
}


.main_container .main_content {
    background-color: #d2d2d2
}

.contact .contact_container,
.main_container .whaticando_container,
.main_container .whatidid_container,
.main_container .whoami_container {
    background-color: #262548;
}

.main_container .dots {
    background: #262548;
}

.main_container .dots span {
    background: #f9f9f9;
}

.main_container .whoami_container .my_pic {
    border: 2px solid #0C8353;
}


.main_container .whaticando_container .my_skills .sub_title {
    color: #0d6f3e;
    background: linear-gradient(to right, #0C8353, #0C8353);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_container .whaticando_container .my_skills .skills_group .skill .precent {
    background-color: #1D1B3B;
    border: 1px solid #1D1B3B;
}

.main_container .whaticando_container .my_skills .skills_group .skill .precent span {
    background: linear-gradient(90deg, #0C8353, #0C8353);
}

.main_container .whaticando_container .my_skills .skills_group .skill .precent .circle {
    border: 1px dashed #086E4F;
    background: #1D1B3B;
    box-shadow: 0 0px 1px #1D1B3B;
}

.contact_container .sub_container .left_side form label {
    color: rgba(214, 214, 214, 0.75);
}

@keyframes label_active {
    0% {
        color: rgba(214, 214, 214, 0.75);
        top: 25px
    }

    100% {
        color: #0C8353;
        top: 0
    }
}


@keyframes label_desactive {
    0% {
        color: #0C8353;
        top: 0
    }

    100% {
        color: rgba(214, 214, 214, 0.75);
        top: 25px
    }
}

.contact_container .sub_container .left_side form label .required {
    color: rgba(255, 0, 49, 0.7);
}

.contact_container .sub_container .left_side form input,
.contact_container .sub_container .left_side form textarea {
    background-color: transparent;
    color: rgba(234, 234, 234, 0.75);
    padding: 10px;
}


.contact_container .sub_container .left_side form .input_hover {
    background-color: #0C8353
}

.contact_container .sub_container .left_side form button {
    color: #f9f9f9;
    background: linear-gradient(90deg, #0C8353, #0C8353);
}

.contact_container .sub_container .left_side form button:hover {
    box-shadow: 0 4px 3px -2px rgba(51, 51, 51, .5);
}

.contact_container .sub_container .right_side .map .map_contianer {
    background-color: rgba(221, 221, 221, .25);
}

.contact_container .sub_container .right_side .map .map_contianer .loader {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, .2);
}

.contact_container .sub_container .title {
    color: #eee;
}

.contact_container .up {
    background: linear-gradient(90deg, #0C8353, #0C8353);
    box-shadow: 0 1px 1px rgba(51, 51, 51, .5);
}

.contact_container .up:hover {
    box-shadow: 0 0 0 rgba(51, 51, 51, .25)
}

footer.footer .copyright p:first-child span {
    color: #0C8353;
}

