@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('../fonts/Dosis-Regular.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'karla';
    src: url('../fonts/Karla-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'fira code';
    src: url('../fonts/FiraCode-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'consolas';
    src: url('../fonts/consolas.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url('../fonts/SFMono-Regular.otf');
    font-weight: 300;
    font-style: normal;
}